/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */


.calendar-box {
    display: grid;
    grid-template-columns: 5% repeat(5, 19%);
    grid-template-rows: repeat(18, 10%)
}

.calendar-box-small {
    display: grid;
    grid-template-columns: 10% repeat(5, 18%);
    grid-template-rows: repeat(18, 10%)
}

.blank_slot {
    border-bottom: solid black 1px;
    border-left: solid black 1px;
}

.top-border {
    border-top: solid black 1px;
}

.time_slot {
    position: absolute;
    width: 18%;
}

.time_slot-4 {
    height: 10%;
}

.time_slot-3 {
    height: 7.5%;
}

.time_slot-2 {
    height: 5%;
}

.time_slot-1 {
    height: 2.5%;
}

